* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #223343;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 50px 15px 0;
}

header h1 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.searchbar {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 8px;
  outline: none;
  transition: 0.4s ease-out;
  border: none;
  font-weight: 300;
  color: #53565a;
}

.searchbar:focus {
  box-shadow: 0 0 8px 3px #4484c4;
}

.results {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  justify-content: space-around;
}

.result {
  padding: 15px;
  width: 33.333%;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  min-width: 250px;
}

.result:hover h3 {
  background: #fff;
  color: #222b33;
}

.result h3 {
  background: #445565;
  padding: 10px;
  font-size: 20px;
  transition: 0.4s ease-out;
  flex: 1 1 100%;
  font-weight: 300;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  background: #223343;
  height: 100vh;
  width: 100vw;
}

.content {
  width: 100%;
  max-width: 960px;
  margin: 20px auto;
}

.content h2 {
  font-weight: 500;
  font-size: 35px;
}

.content span {
  font-size: 25px;
  margin-left: 20px;
}

.content .rating {
  margin-bottom: 30px;
}

.content .plot {
  display: flex;
  flex-wrap: wrap;
}

.content .plot img {
  flex: 1 1 50%;
  max-width: 300px;
}

.content .plot p {
  flex: 1 1 50%;
  padding: 15px;
}

.content .close {
  background: #4484c4;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 20px;
  margin-top: 30px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: 0.4s ease-out;
}

.content .close:hover {
  color: #222b33;
  background: whitesmoke;
}
